body{
    background-image: url(kepek/greece-attica-athens-acropolis-listed-as-world-heritage-by-unesco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
}
.container{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    background-size: 100%;
    color: white;
    min-width: 100%;
}
.carousel-item{
    max-width: 100%;
    max-height: 20rem;
}
.navbar-brand, .nav-link{
    color: white !important;

}
.nav-link.active{
    color: red !important;
}
.homeimg{
    border: 2px solid white;
    border-radius: 10px;
}
.homeimg a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;

}
.homeimg a:hover{
    text-decoration: none;
    color: red;
    font-size: 1.3rem;
    
}
.homeimg img{
    opacity: 1;
    background-color: black;
}
.align-justify{
    text-align: justify;
}
.homep{
    font-size: 1.5rem;
}
.card-body{
    color: black;
}
.align-right{
    text-align: right;
}
